*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    height:100vh;
    display:flex;
    align-items:center;
    justify-content: center;
    background: rgb(255, 0, 106);
}
.login{ 
    width:550px;
   
    padding: 10px;
    border-radius: 8px;
    background:rgb(142, 137, 84);
}
.login h1{
    font-size:30px;
    margin-bottom:20px;
}
.login form{
    font-size:10px;
}
.login form .form-group{
    margin-bottom:9px;
}
.login form input[type="submit"]{
    font-size:20px;
    margin-top:15px;}

    